.toolbar-legend {
    width: 100%;

    .toolbar-legend-icon {
        width: 40px;
    }

    .toolbar-legend-separator {
        background-color: gray;
        height: 3px;
        margin-bottom: 2px;
    }
}