.icon-container {

    .icon {
        touch-action: none;
        user-select: none;    
    }

    .icon-separator {
        height: 32px;
        background: black;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 2px !important;
        margin-right: 2px;
        margin-left: 2px;
    }

    .icon-bordered {
        margin: 2px;
        border: 2px solid black;
        border-radius: 3px;
        padding: 2px;
        background: #f0f0f0;
        &:hover {
            background: #d0d0d0;            
        }
    }

    .icon-hidden {
        display:  none;
    }
    
    .icon-readonly {
        opacity: 0.5;
        &:hover {
            cursor: not-allowed;
        }
    }

    .icon-small {
        width: 24px;
        height: 24px;
    }
    .icon-medium {
        width: 32px;
        height: 32px;
    }
    .icon-large {
        width: 48px;
        height: 48px;
    }

    .icon-selected {
        background-color: lightgreen;
        &:hover {
            background: green;            
        }
    }
}
