.form {
    .form-label {
        font-weight: bold;
    }

    .form-control-container {
        text-align: left;

        .form-control {
            width: 100%;
            font-size: large;    
        }

        input[type="checkbox"] {
            width: initial;
        }
    }
}