.tutorial {
    .tutorial-section {
        header {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            background-color: lightblue;
        }
    }
}